<div class="docs">
  <PluginOutlet
    @name="before-docs-search"
    @tagName="span"
    @connectorTagName="div"
    @outletArgs={{hash
      selectCategory=(action "updateSelectedCategories")
      selectTag=(action "updateSelectedTags")
      tags=indexController.tags
      categories=indexController.categories
    }}
  />

  {{docs-search
    searchTerm=(readonly indexController.searchTerm)
    onSearch=(action "performSearch")
  }}

  {{outlet}}
</div>