<div class="docs">
  <span>
    <PluginOutlet
      @name="before-docs-search"
      @connectorTagName="div"
      @outletArgs={{hash
        selectCategory=(action "updateSelectedCategories")
        selectTag=(action "updateSelectedTags")
        tags=this.indexController.tags
        categories=this.indexController.categories
      }}
    />
  </span>

  <DocsSearch
    @searchTerm={{readonly this.indexController.searchTerm}}
    @onSearch={{action "performSearch"}}
  />

  {{outlet}}
</div>