<div class="knowledge-explorer">
  <div class="knowledge-explorer-browse">
    {{knowledge-explorer-tag-list
        tags=tags
        filterTags=filterTags
        searchResults=searchResults}}
    {{knowledge-explorer-topic-list topics=topics}}
  </div>
</div>
