<div class="knowledge-explorer">
  <div class="knowledge-explorer-browse">
    {{knowledge-explorer-tags
        tags=tags
        searchResults=searchResults}}
    {{knowledge-explorer-topic-list topics=topics}}
  </div>
</div>
