<h2 class="explorer-title">Forum Explorer</h2>
<span class="docs-search-wrapper">
  {{input
    type="text"
    value=(readonly searchTerm)
    input=(action "onSearchTermChange" value="target.value")
    class="no-blur docs-search-bar"
    autocorrect="off"
    placeholder=(i18n "docs.search.placeholder")
    autocapitalize="off"
  }}

  {{#if searchTerm}}
    {{d-button action=(action "clearSearch") class="clear-search" label="docs.search.clear"}}
  {{else}}
    {{d-icon "search"}}
  {{/if}}
</span>
