<span class="knowledge-explorer-search-wrapper">
  {{input
    type="text"
    value=(readonly searchTerm)
    input=(action "onSearchTermChange" value="target.value")
    class="no-blur knowledge-explorer-search-bar"
    autocorrect="off"
    placeholder=(i18n "knowledge_explorer.search.placeholder")
    autocapitalize="off"
  }}

  {{#if searchTerm}}
    {{d-button action=(action "clearSearch") class="clear-search" label="knowledge_explorer.search.clear"}}
  {{else}}
    {{d-icon "search"}}
  {{/if}}
</span>
