{{#load-more selector=".topic-list tr" action=loadMore}}
  <table class="topic-list">
    <thead>
      <th>Topic</th>
      <th>Activity</th>
    </thead>
    <tbody>
      {{#each topics as |topic|}}
      <tr>
        <td class="main-link">
          <span class="link-top-line">
            {{knowledge-explorer-topic-link
              topic=topic
              selectTopic=selectTopic
            }}
          </span>
          <span class="link-bottom-line">
            {{#each topic.tags as |tag|}}
              <span class="discourse-tag">{{tag}}</span>
            {{/each}}
          </span>
        </td>
        <td>
          {{format-date topic.bumped_at format="tiny" noTitle="true"}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
{{/load-more}}

{{conditional-loading-spinner condition=loading}}
