<a class="knowledge-explorer-nav-link return" href="javascript:history.back()">Go back</a>
<div class="topic-content">
  <h1>{{topic.title}}</h1>
  {{{originalPostContent}}}
</div>
<a class="knowledge-explorer-nav-link more" href="/t/{{topic.id}}">View the discussion on this topic</a>
