.mobile-view {
  .docs {
    .docs-search-wrapper {
      display: flex;
      justify-content: center;
    }

    .docs-search {
      font-size: $font-up-2;
      padding: 0.5em 0;
      display: flex;
      flex-direction: column;

      .docs-search-bar {
        width: calc(100vw - 2em);
        height: 40px;
      }
    }
    .docs-browse {
      padding-bottom: 60px; // for DiscourseHub footer nav
      .docs-items {
        padding-right: 0;
      }
      flex-direction: column;
      .docs-results .result-count {
        padding-left: 0;
      }
      .docs-topic-list {
        flex-basis: 100%;
      }
      .docs-topic-link {
        padding-right: 0.25em;
      }
      .docs-topic {
        width: calc(100vw - 20px);
      }
    }
  }

  .docs-filters {
    background: var(--primary-very-low);
    padding: 0 0.5em;
    .docs-items:first-of-type {
      margin-top: 1em;
    }
    + .docs-results {
      margin-top: 2em;
    }
  }

  .archetype-docs-topic {
    .docs-filters {
      display: none;
    }
  }

  .docs-expander {
    margin: 1em 0 0 0;
    width: 100%;
  }

  .docs-solved {
    .docs-item {
      padding: 0.25em 0;
    }
  }
}
